[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Hello plugin
Comment=This is Hello World plugin
Icon=hello-plugin
X-XFCE-Module=hello-plugin
X-XFCE-Internal=false
X-XFCE-API=2.0
